html {
    font-size:10px;

}

img {
  max-width:100%;
}

body {
  font-family: 'Istok Web', sans-serif;
  padding:0;
  margin:0;
}

#app {
 margin:0px 0; 
}

header {

  color:white;
  padding:0rem;
}

/*header .event-id {
    font-size:.5rem;
}*/

header .top-bar {
  padding:.5rem;
    background:black;
    font-size:.8em;
}

header nav {  
        padding:10px;
        margin:10px 0 0 0;
}
header nav i {
font-size:3rem;
}

.logout {
  text-align:right;
}

nav {
  padding: 0 20px;
}







/*#map-canvas {
  height:300px;
}*/




.person .img-container {
  width:50px;
  height:50px;
  border-radius:100px;
}

.people-table {
  width:100%;
}

.people-table tr {
 border-bottom:1px solid gray; 
}
.people-photo {

}
.people-name {
  width:20%;
}

.people-check {
  width:20%;
}

.people-up-down {
  width:50%;
}


.full-width-button {
  width:100%;
}

body {
  background-color: rgb(65, 64, 66);
  color: white;
}

.nav li {
  background-color: black;
}
.nav li a {
  background-color: black;
  color: rgb(151,202,61);
}
.nav li.active a,
.nav li a:hover,
.nav li a:hover .glyphicon {
  background-color: black;
  color: white;
}
.nav li.active a .glyphicon {
  color: white;
}
.panel {
  background-color: black;
  border-color:black;
}
.panel-info > .panel-heading {
  color: white;
  background-color: rgb(151,202,61);
  border: 0;
}


.glyphicon {
  color: rgb(151,202,61);
}

.black {
  color:black;
}
.gray {
  color: rgb(65, 64, 66);
}
.green {
  color: rgb(151,202,61);
}

.btn-success,
.btn-success:hover {
  background-color: black;
  color: white;
  border-color:black;
}
.btn-default,
.btn-default:hover {
  background-color: black;
  color: rgb(151,202,61);
  border-color:black;
}

 /*sticky footer*/ 
 * {
margin: 0;
}
html, body {
  height: 100%;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}
 
footer, .push {
  height: 60px;
}
