<div class="people-section">
  <div class="container-fluid">
    <!--<div class="alert alert-info">If you add a person, but leave their hours as zero, they will be assigned time based on the entries from the time entries in the time log tab</div>-->
    <div class="people">
      <div class="col-xs-6">
        <table class="people-table">
          <tr>
            <td class="people-photo">
              <i class="glyphicon glyphicon-person" />
            </td>
            <td class="people-name">
              Jack Beanstalk
            </td>
            <td class="people-check">
              
            </td>
            <td class="people-up-down">
              <div class="btn-group  btn-lg " role="toolbar">
                <div class="btn-group btn btn-default"><span class="glyphicon glyphicon-arrow-down"></span></div>
                <div class="btn-group btn btn-default">0 hours</div>
                <div class="btn-group btn btn-default"><span class="glyphicon glyphicon-arrow-up"></span></div>
              </div>
            </td>
            <td>
              <a href="javascript:void(null);"><i class="glyphicon glyphicon-remove" style="color:white;" /></a>
            </td> 
          </tr>
          <tr>
            <td class="people-photo">
              <i class="glyphicon glyphicon-person" />
            </td>
            <td class="people-name">
              Ronald McDonald
            </td>
            <td class="people-check">
            </td>
            <td class="people-up-down">
              <div class="btn-group  btn-lg " role="toolbar">
                <div class="btn-group btn btn-default"><span class="glyphicon glyphicon-arrow-down"></span></div>
                <div class="btn-group btn btn-default">0 hours</div>
                <div class="btn-group btn btn-default"><span class="glyphicon glyphicon-arrow-up"></span></div>
              </div>
            </td>
            <td>
              <a href="javascript:void(null);"><i class="glyphicon glyphicon-remove" style="color:white;" /></a>
            </td>
          </tr>
          <tr>
            <td class="people-photo">
              <i class="glyphicon glyphicon-person" />
            </td>
            <td class="people-name">
              Colonel Mustard
            </td>
            <td class="people-check">
              
            </td>
            <td class="people-up-down">
              <div class="btn-group  btn-lg " role="toolbar">
                <div class="btn-group btn btn-default"><span class="glyphicon glyphicon-arrow-down"></span></div>
                <div class="btn-group btn btn-default">0 hours</div>
                <div class="btn-group btn btn-default"><span class="glyphicon glyphicon-arrow-up"></span></div>
              </div>
            </td>
            <td>
              <a href="javascript:void(null);"><i class="glyphicon glyphicon-remove" style="color:white;" /></a>
            </td>
          </tr>
          <tr>
            <td class="people-photo">
              <i class="glyphicon glyphicon-person" />
            </td>
            <td class="people-name">
              Bob Saget
            </td>
            <td class="people-check">
              
            </td>
            <td class="people-up-down">
              <div class="btn-group  btn-lg " role="toolbar">
                <div class="btn-group btn btn-default"><span class="glyphicon glyphicon-arrow-down"></span></div>
                <div class="btn-group btn btn-default">0 hours</div>
                <div class="btn-group btn btn-default"><span class="glyphicon glyphicon-arrow-up"></span></div>
              </div>
            </td>
            <td>
              <a href="javascript:void(null);"><i class="glyphicon glyphicon-remove" style="color:white;" /></a>
            </td>
          </tr>
        </table>
      </div>

      <div class="col-xs-6">
        <table class="people-table">
          <tr>
            <td class="people-photo">
              <i class="glyphicon glyphicon-person" />
            </td>
            <td class="people-name">
              Jen Sanders
            </td>
            <td class="people-check">
              
            </td>
            <td class="people-up-down">
              <div class="btn-group  btn-lg " role="toolbar">
                <div class="btn-group btn btn-default"><span class="glyphicon glyphicon-arrow-down"></span></div>
                <div class="btn-group btn btn-default">0 hours</div>
                <div class="btn-group btn btn-default"><span class="glyphicon glyphicon-arrow-up"></span></div>
              </div>
            </td>
            <td>
              <a href="javascript:void(null);"><i class="glyphicon glyphicon-remove" style="color:white;" /></a>
            </td>
          </tr>
          <tr>
            <td class="people-photo">
              <i class="glyphicon glyphicon-person" />
            </td>
            <td class="people-name">
              John Smith
            </td>
            <td class="people-check">
              
            </td>
            <td class="people-up-down">
              <div class="btn-group  btn-lg " role="toolbar">
                <div class="btn-group btn btn-default"><span class="glyphicon glyphicon-arrow-down"></span></div>
                <div class="btn-group btn btn-default">0 hours</div>
                <div class="btn-group btn btn-default"><span class="glyphicon glyphicon-arrow-up"></span></div>
              </div>
            </td>
            <td>
              <a href="javascript:void(null);"><i class="glyphicon glyphicon-remove" style="color:white;" /></a>
            </td>
          </tr>
          <tr>
            <td class="people-photo">
              <i class="glyphicon glyphicon-person" />
            </td>
            <td class="people-name">
              Jane Doe
            </td>
            <td class="people-check">
              
            </td>
            <td class="people-up-down">
              <div class="btn-group  btn-lg " role="toolbar">
                <div class="btn-group btn btn-default"><span class="glyphicon glyphicon-arrow-down"></span></div>
                <div class="btn-group btn btn-default">0 hours</div>
                <div class="btn-group btn btn-default"><span class="glyphicon glyphicon-arrow-up"></span></div>
              </div>
            </td>
            <td>
              <a href="javascript:void(null);"><i class="glyphicon glyphicon-remove" style="color:white;" /></a>
            </td>
          </tr>
          <tr>
            <td class="people-photo">
              <i class="glyphicon glyphicon-person" />
            </td>
            <td class="people-name">
              Kim Brown
            </td>
            <td class="people-check">
              
            </td>
            <td class="people-up-down">
              <div class="btn-group  btn-lg " role="toolbar">
                <div class="btn-group btn btn-default"><span class="glyphicon glyphicon-arrow-down"></span></div>
                <div class="btn-group btn btn-default">0 hours</div>
                <div class="btn-group btn btn-default"><span class="glyphicon glyphicon-arrow-up"></span></div>
              </div>
            </td>
            <td>
              <a href="javascript:void(null);"><i class="glyphicon glyphicon-remove" style="color:white;" /></a>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2">&nbsp;</div>
      <div class="col-xs-8">
        <button style="margin-top:20px;" class="full-width-button btn btn-lg btn-default" data-toggle="modal" data-target="#myModal">Add People</button>
      </div>
      <div class="col-xs-2">&nbsp;</div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="background-color:black;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add People </h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <table class="table">
              <tr>
                <td>Jack Beanstalk</td>
                <td><input type="checkbox" checked="checked" /></td>
              </tr>
              <tr>
                <td>Ronald McDonald</td>
                <td><input type="checkbox" checked="checked" /></td>
              </tr>
              <tr>
                <td>Colonel Mustard</td>
                <td><input type="checkbox" checked="checked" /></td>
              </tr>
              <tr>
                <td>Bob Saget</td>
                <td><input type="checkbox" checked="checked" /></td>
              </tr>
              <tr>
                <td>Larry King</td>
                <td><input type="checkbox" /></td>
              </tr>
              <tr>
                <td>Jen Sanders</td>
                <td><input type="checkbox" checked="checked" /></td>
              </tr>
              <tr>
                <td>John Smith</td>
                <td><input type="checkbox" checked="checked" /></td>
              </tr>
              <tr>
                <td>Jane Doe</td>
                <td><input type="checkbox" checked="checked" /></td>
              </tr>
              <tr>
                <td>Alex Trebek</td>
                <td><input type="checkbox" /></td>
              </tr>
              <tr>
                <td>Betty White</td>
                <td><input type="checkbox" /></td>
              </tr>
              <tr>
                <td>D.J. Tanner</td>
                <td><input type="checkbox" /></td>
              </tr>
              <tr>
                <td>Uncle Jesse</td>
                <td><input type="checkbox" /></td>
              </tr>
              <tr>
                <td>Kim Brown</td>
                <td><input type="checkbox" checked="checked" /></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success">Save changes</button>
      </div>
    </div>
  </div>
</div>
